#controls {
  display: flex;
  max-width: 28rem;
  margin: 1rem;
  min-width: 28rem;
  position: absolute;
  overflow: hidden;
}
button {
  flex-grow: 1;
  position: relative;
  height: 2.5rem;
  border: none;
  border-radius: 0.15rem;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}
button:hover {
  outline: none;
  background: #c72d1c;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
#downloadButton, #uploadTextButton {
  background: #ed341d;
}
.nonPushedButton {
  background: #ed341d;
}
.pushedButton {
  background: #ccc;
}
button:first-child {
  margin-left: 0;
}
#rawTextField {
    width:600px;
    height:100px;
    background-color: rgba(34, 34, 34, 0);
    color:#888888;
    position: absolute;
    top: 12%; left: 1rem;
    font-size: 1.2rem;
}
#inputModel {
    position: relative;
    width:50%;
    height:32px;
    font-size: 1.1rem;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    margin: 0; padding: 0;
}
#viewer {
    width: 100%;
    height: 100%;
}
